$Very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-200: hsl(210, 62%, 94%);
$light-grayish-blue-100: hsl(240, 25%, 97%);
$Grayish-blue: hsl(218, 4%, 63%);
$Dark-grayish-blue: hsl(220, 8%, 45%);
$Very-dark-blue: hsl(220, 84%, 26%);
$font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
