$Very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-200: hsl(211, 68%, 94%);
$light-grayish-blue-100: hsl(205, 33%, 90%);
$Grayish-blue: hsl(219, 14%, 63%);
$Dark-grayish-blue: hsl(219, 12%, 42%);
$Very-dark-blue: hsl(224, 21%, 14%);

$fw-500: 500;
$fw-800: 800;
$font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
