// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

@import './customVariables';

// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';

$theme-colors: (
  'Very-light-grayish-blue': $Very-light-grayish-blue,
  'light-grayish-blue-200': $light-grayish-blue-200,
  'light-grayish-blue-100': $light-grayish-blue-100,
  'Grayish-blue': $Grayish-blue,
  'Dark-grayish-blue': $Dark-grayish-blue,
  'Very-dark-blue': $Very-dark-blue,
);

// 5. Include remainder of required parts
@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';

// custom utilities
$utilities: (
  'opacity': (
    property: font-weight,
    class: fw,
    values: (
      500: 500,
      800: 800,
    ),
  ),
);
@import '../../node_modules/bootstrap/scss/utilities';

@import '../../node_modules/bootstrap/scss/bootstrap';

// custom styles
// general styling
p {
  margin-bottom: 0;
  color: $Grayish-blue;
}

.user-name {
  font-weight: 800;
  color: black;
}

.post {
  color: $Dark-grayish-blue;
  font-weight: 800;
}

.group {
  color: $Very-dark-blue;
  font-weight: 800;
}

.timing {
  color: $Dark-grayish-blue;
}

.active {
  background-color: $light-grayish-blue-200;
}
// component styles
.notification-area {
  flex: 1;
  max-width: min(95%, 730px);
}
